body {
  max-width: 300px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

table, th, td {
  border: 1px solid black;
  padding: 0.4rem;
}